<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--*firefox, *chrome, *iexplore,*ie-->
    <add key="Tests.Browser" value="*firefox" />
    <!--local, localhost, segrid.active.tan -->
    <add key="Tests.Host" value="segrid.active.tan" />
    
    <add key="Tests.Port" value="4444" />
    <!--QA, STAGING, INT, INT2, INT3,proc-->
    <add key="Tests.Environment" value="QA" />
    <add key="Tests.ChurchCode" value="dc" />
    <add key="Tests.WaitTimeoutInterval" value="60" />
    <add key="Tests.DriverPath" value="E:\@Selenium\Driver" />

    <add key="DataAccess.CommandFilePath" value="\Configs\Data" />
  </appSettings>
</configuration>