<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--*firefox, *safari, chrome, *iexplore-->
    <add key="Tests.Browser" value="*firefox" />
    <!--local, localhost, segrid.active.tan -->
    <add key="Tests.Host" value="segrid.active.tan" />
    
    <add key="Tests.Port" value="4444" />
    <!--Local, QA, STAGING, INT, INT2, INT3-->
    <add key="Tests.Environment" value="QA" />
  </appSettings>
</configuration>